// VARIABLES
$blue:rgb(51, 103, 153);
$dark:#353631;
$lightDark:#51524c;
$white:white;
$yellow:#fec107;
$gray: rgb(133, 132, 132);
$lightgray: #f8f8f8;
$transition: .6s ease;
$padding:50px 0px;
$typingFont: 'M PLUS 1 Code',
sans-serif;


// MIXINS
@mixin flex($justify, $align, $direction, $wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin linkDecor {
    &::after {
        content: "";
        width: 0;
        height: .2rem;
        position: absolute;
        left: 0.7rem;
        bottom: 0;
        background-color: $lightgray;
        transition: width 200ms ease-in-out;
    }

    &:hover::after,
    &:focus::after {
        width: 85%;

        @media(max-width:768px) {
            width: 0px;
        }
    }
}

@mixin line {
    display: block;
    content: "";
    width: 100px;
    height: 4px;
    background-color: $yellow;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 15px;

}

// ANIMATION

@keyframes typing {
    from {
        width: 0;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 80%;
    margin: auto;

    @media(max-width:768px) {
        width: 100%;
    }
}

h2 {
    text-align: center;
    font-size: 3.4rem;
    padding-bottom: 30px;

    &::after {
        @include line();
    }

    @media(max-width:768px) {
        font-size: 2.8rem;
    }
}

a {
    text-decoration: none;
    font-family: 'Outfit', sans-serif;

    &:hover {
        transition: $transition;
    }
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Outfit', sans-serif;
}



// HEADER SECTION

header {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../Img/LaptopCoffe.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @media(max-width:768px) {
        height: 70vh;
        background-position: left;
        width: 100%;
    }


    .container {

        nav {
            padding: 30px 20px;

            @media(max-width:768px) {
                padding: 30px 10px;
            }


            ul {
                @include flex(flex-end, center, row, wrap);

                @media(max-width:768px) {
                    justify-content: center;
                }

                li {
                    padding: 5px 10px;
                    position: relative;

                    @include linkDecor();

                    @media(max-width:768px) {
                        padding: 0px 5px;
                    }


                    a {
                        color: $yellow;
                        font-size: 1.5rem;
                        font-weight: 300;

                        &:hover {
                            color: $lightgray;
                            transition: $transition;
                        }

                        @media(max-width:768px) {
                            font-size: 1.3rem;

                        }

                        @media(max-width:480px) {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }


        hgroup {
            @include flex(center, center, row, nowrap);
            height: 60vh;

            @media(max-width:768px) {
                height: 45vh;
            }


            h1 {
                font-size: 4rem;
                font-family: $typingFont;
                color: $yellow;
                font-weight: 300;
                width: 35ch;
                animation: typing steps(35);
                animation-duration: 4s;
                overflow: hidden;
                border-right: 4px solid;
                white-space: nowrap;

                @media(max-width:1024px) {
                    font-size: 2.5rem;
                }

                @media(max-width:768px) {
                    font-size: 1.7rem;
                }

                @media(max-width:480px) {
                    font-size: 1.3rem;
                }

                @media(max-width:320px) {
                    font-size: 1rem;
                }
            }
        }
    }
}


// ABOUT SECTION

.about {
    padding: $padding;
    color: $dark;
    background-color: $lightgray;

    .container {
        @include flex(space-evenly, center, row, wrap);

        @media(max-width:768px) {
            text-align: center;
        }


        article {
            flex: 0 0 50%;

            &:nth-child(2) {
                p {
                    @media(max-width:768px) {
                        font-size: 1.1rem;
                        text-align: left;
                        padding: 0px 10px;
                    }
                }
            }

            @media(max-width:768px) {
                flex: 0 0 100%;
                padding-bottom: 20px;
            }

            img {
                width: 60%;
                height: auto;
                border-radius: 100%;
                border: 5px solid $yellow;
                margin-bottom: 10px;

                &:hover {
                    box-shadow: 0 0 20px $gray;
                    transition: $transition;
                }
            }

            h3 {
                font-size: 2.3rem;
                font-weight: 700;
                font-family: 'Montserrat', sans-serif;

                @media(max-width:768px) {
                    font-size: 1.7rem;
                }
            }

            h4 {
                font-size: 1.5rem;
                padding-bottom: 5px;
                font-weight: 400;

                @media(max-width:768px) {
                    font-size: 1.3rem;
                }
            }

            p {
                font-size: 1.3rem;
                font-weight: 400;

                @media(max-width:768px) {
                    font-size: 1.1rem;
                }

                i {
                    font-size: 1.3rem;
                    color: $yellow;
                    padding-bottom: 10px;
                    padding: 10px 7px 10px 0px;

                    @media(max-width:768px) {
                        font-size: 1.1rem;
                    }
                }

                span {
                    font-weight: 700;
                    color: $dark;
                }
            }
        }
    }
}



// SKILLS SECTION

.skills {
    padding: $padding;
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../Img/wooden\ table\ typing.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    h2 {
        color: $lightgray
    }

    .container {
        @include flex(center, center, row, wrap);

        article {
            @include flex(center, center, row, wrap);
            position: relative;
            flex: 0 0 25%;
            font-size: 5rem;
            margin: 20px;
            color: $yellow;

            i {
                padding: 10px;

                &:hover {
                    color: $lightgray;
                    transform: scale(1.2);
                    transition: $transition;
                }
            }

            h5 {
                &:hover {
                    color: $lightgray;
                    transform: scale(1.2);
                    transition: $transition;
                }
            }
        }
    }
}




// WORKS SECTION

.works {
    padding: $padding;
    background-color: $lightgray;

    .container {
        article {
            margin-bottom: 25px;
            @include flex(space-between, center, row, wrap);

            &:hover {
                box-shadow: 0 0 30px $gray;
                transition: $transition;
            }

            @media(max-width:768px) {

                &:nth-child(1),
                &:nth-child(3) {
                    flex-direction: column-reverse;
                }
            }


            div {
                flex: 0 0 48%;
                padding: 10px;

                @media(max-width:768px) {
                    flex: 0 0 100%;
                    padding: 10px 0px;
                }

                img {
                    border: 4px solid $yellow;
                    border-radius: 10px;
                    width: 100%;
                    height: auto;
                }

                h3 {
                    font-size: 3rem;
                    font-weight: 300;
                    padding-bottom: 10px;

                    @media(max-width:768px) {
                        font-size: 1.7rem;
                    }
                }

                p {
                    font-size: 1.5rem;
                    padding-bottom: 10px;

                    @media(max-width:768px) {
                        font-size: 1.1rem;
                    }
                }

                a {
                    font-size: 1.5rem;
                    color: $yellow;
                    font-weight: 300;

                    @media(max-width:768px) {
                        font-size: 1.3rem;
                    }


                    &:hover {
                        color: orangered;
                        transition: $transition;
                    }
                }
            }
        }
    }
}



// FOOTER SECTION


footer {
    background-color: $dark;
    color: $yellow;
    padding: $padding;
    text-align: center;

    .container {
        @include flex(space-between, center, row, wrap);
        padding-bottom: 45px;

        @media(max-width:768px) {
            flex-direction: column-reverse;
        }

        a {
            flex: 0 0 32%;
            font-size: 3rem;
            color: $yellow;

            &:hover {
                color: $lightgray;
                transition: $transition;
            }

            @media(max-width:768px) {
                font-size: 2rem;
                flex: 0 0 100%;
                padding-bottom: 10px;
            }

            p {
                font-size: 1.3rem;

                @media(max-width:768px) {
                    font-size: 1.1rem;
                }
            }
        }
    }
}