// VARIABLES
$blue:rgb(51, 103, 153);
$dark:#353631;
$white:white;
$yellow:#fec107;
$lightgray: #f8f8f8;
$transition: 1s ease;
$padding:50px 0px;
$typingFont: 'M PLUS 1 Code',
sans-serif;


// MIXINS
@mixin flex($jusstify, $align, $direction, $wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    margin: auto;
}

a {
    text-decoration: none;

    &:hover {
        transition: $transition;
    }
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Outfit', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}